img {
    width: 100%;
}

body {
    background-color: rgb(148, 29, 29);
}

/*Filtrerings menu*/
#menu {
    margin: 5vw;
    margin-right: 5vw;
    text-align: center;
}

#second_section nav {
    height: auto;
}

/*Overskrift der ændres efter filter*/
main h1 {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 0;
}

/* H2 bliver brugt i template article*/
h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 6px;
    color: black;
}

/* Alt alm. tekst skal som udgangspunkt være centreret*/
p {
    text-align: center;
    margin-top: 0px;
    padding-top: 4px;
}

/* Giver article(template) størrelse, grid, farve og skygge*/
main article {
    margin: 1vw;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.39);
    display: grid;
    background-color: #FFAF34;
    transition: 0.5s;
}

article .tekstboks {
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.39);
    display: grid;
}

/* Fremhæver den specifikke drink article man hover hen over*/
main article:hover {
    transform: scale(1.08);
}

/* giver transition tid, så den scaler ''blødt'' til dens hover effekt*/
main article button {
    transition: 0.5s;
}

main article button:hover {
    transform: scale(1.2);
}

/* Knap der går til single View */
.laesMere {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vh;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.39);
}

/* Margin til Tekst i knap*/
.laesMere h3 {
    margin: 8px;
}

/* Liste article template'en bliver udskrevet/klonet ud i*/
/* Den går grid regler*/
#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3em;
    margin: 25px 4vw 0 4vw;
}

/* filterknapper får grid/flex*/
.filterValg {
    display: flex;
    justify-content: space-around;
    grid-gap: 2vw;
}

/* Filterknapper bliver deffinere */
#menu button {
    width: 100%;
    margin: 1vw 0vw 1vw 0;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.39);
    transition: 0.3s;
}

/* Knapperne får hover effekt */
button:hover {
    background: white;
}

/* Filter menu knappepr har deres egen specifikke hover effekt */
#menu button:hover {
    background: white;
    transform: scale(1.15);
    box-shadow: 2px 5px 30px 4px rgba(0, 0, 0, 0.39);

}

/* Den valgte filter knap som sorteres efter */
.valgt {
    background-color: white;
    border-color: #FFAF34;
}

main {
    background-image: url(images/header_7.png);
    width: 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: contain;
}

#second_section {
    padding-top: 12vw;
}

@media (min-width: 1200px) {
    #liste {
        margin-left: 200px;
        margin-right: 200px;
    }

    #menu button {
        font-size: 1.2rem;
    }

    #menu {
        margin-left: 220px;
        margin-right: 190px;
    }
}
