/** Fonte**/
h1,
h2 {
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffbc00
}

h3,
p {
    font-family: 'PT Sans Caption', sans-serif;
}


/**baggrundsfarve**/
body {
    background-color: #fcf5f2
}

/**centrere drinknavn**/
.navn {
    text-align: center;
}

/**filterknap design**/
button {
    border-radius: 25px;
    border: none;
    background-color: #baeadd;
    font-family: 'PT Sans Caption', sans-serif;
}
