/** Fonte**/
h1,
h2 {
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffbc00
}

.fixed {
    position: fixed;
}

h3,
h4,
p {
    font-family: 'PT Sans Caption', sans-serif;
}


/**baggrundsfarve**/
body {
    background-color: #fcf5f2;
    margin: 0;
}

/**centrere drinknavn**/
.navn {
    text-align: center;
}

/**filterknap design**/
button {
    border-radius: 25px;
    border: solid 1px #baeadd;
    background-color: #baeadd;
    font-family: 'PT Sans Caption', sans-serif;
    cursor: pointer;
}

.gone {
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 4vw;
    font-size: 2.5rem;
    margin: 10px;
}


#burger {
    list-style-type: none;
    font-family: 'Squada One', cursive;
}

a {
    color: #ffbc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*footer*/
/*style diven udenom footer, så footeren får en farve*/
.footerFarve {
    background-color:
        /*rgba(186, 234, 221, 0.28);*/
        rgba(250, 224, 149, 0.17);
    padding-bottom: 5px;

}

/*tilføje grid på container*/
.footerContainer {
    display: grid;
    grid-gap: 5px;
    height: 20vh;
    margin-top: 150px;
}

/*tilføje grid på div så teksten står i kolonner*/
.footerIndhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
    text-align: center;
    line-height: 1.5;
    margin: auto;




}

/*tilpasse tekst og fjerne baggrund*/
.omOs {
    display: block;
    background: none;


}

/*fjerne styling fra artiklerne i footer*/
.omOs,
.tips,
.story {
    box-shadow: none;
}

/*fjerne liststyle på om os-tekst samt fjerne padding*/
.omOs ul {
    list-style: none;
    padding-left: 0;

}

/*style om os-tekst med korrekt font*/
.omOs ul a {
    color: inherit;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;

}

/*tilføje hover*/
.omOs ul a:hover {
    opacity: 0.8;
    color: #ffbc00
}

/*tips og triks og Drink Factory-tekst fjernes i mobil*/
.tips,
.story {
    display: none;
}


/*centrere copyright-teksten i footer*/
.copyright {
    text-align: center;
    opacity: 0.3;
    font-size: 13px;

}


/*-----------kasper kigger på burger------------*/



.logo {
    width: 300px;
}

.links {

    font-family: 'Squada One', cursive;
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 70px;
    margin-right: 15px;
}

.links a {
    color: #ffbc00;
    margin: 20px;
}

nav {
    height: 175px;
}

<<<<<<< HEAD=======
/*-----------kasper kigger på burger------------*/



.logo {
    width: 300px;
}

.links {

    font-family: 'Squada One', cursive;
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 70px;
    margin-right: 15px;
}

.links a {
    color: #ffbc00;
    margin: 20px;
}

nav {
    height: 175px;
}



/*------------------Media KUN for burger-------------------------*/
@media (max-width: 800px) {

    .links {
        display: none;
    }

    nav {
        width: 100%;
    }

    #burger {
        position: fixed;
        right: 0;
        height: 100%;
        top: 10vh;
        background-color: #FCF5F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 40px;
        line-height: 3;
    }


    .logo {
        width: 50%;
    }

}



@media(min-width:801px) {

    /*tilpasse container*/
    .footerContainer {
        display: grid;
        height: 40vh;
        grid-gap: 5px;
        grid-template-rows: 20% auto 100px;



    }

    /*tilpasse div*/
    .footerIndhold {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;
        line-height: 1.5;
        text-align: left;
        padding-top: 20px;
    }

    /*tilføje block så teksten står korrekt*/
    .tips,
    .story {
        display: block;

    }

    /*så teksten står til venstre*/
    .story p {
        text-align: left;
        padding-top: 0;
    }

    /*så teksten står til venstre*/
    .tips ul {
        list-style: none;
        padding: 0;
    }

    .tips ul a {
        color: inherit;
        text-decoration: none;
        font-family: 'PT Sans Caption', sans-serif;


    }

    .tips ul a:hover {
        opacity: 0.8;
        color: #ffbc00
    }

    #menuknap {
        display: none;
    }
}



@media (min-width: 1200px) {}


@media (min-width: 1200px) {



    /*footer*/

    /*tilføje grid på container*/
    .footerContainer {
        display: grid;
        height: 40vh;
        grid-gap: 5px;
        grid-template-rows: 20% auto 100px;
    }

    /*tilføje grid på div så teksten står i kolonner*/
    .footerIndhold {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;
        padding-left: 18%;
        line-height: 1.5;
        text-align: left;
        padding-top: 20px;


    }

    /*centrere copyright-tekst i footer*/
    .copyright {
        text-align: center;
        opacity: 0.3;
        font-size: 13px;

    }

    /*fjerne styling for artiklerne*/
    .omOs,
    .tips,
    .story {
        box-shadow: none;
        background: none;

    }

    /*fjerne styling på ul i Om os tekst*/
    .omOs ul {
        list-style: none;
        padding-left: 0;

    }

    /*style om os-tekst*/
    .omOs ul a {
        color: inherit;
        text-decoration: none;
        font-family: 'PT Sans Caption', sans-serif;

    }

    /*tilføje hover på om os-tekst*/
    .omOs ul a:hover {
        opacity: 0.8;
        color: #ffbc00
    }

    /*fjerne styling på ul i Tips og triks tekst*/
    .tips ul {
        list-style: none;
        padding: 0;
    }

    /*style om tips og triks-tekst*/
    .tips ul a {
        color: inherit;
        text-decoration: none;
        font-family: 'PT Sans Caption', sans-serif;


    }

    /*tilføje hover på tips og triks-tekst*/
    .tips ul a:hover {
        opacity: 0.8;
        color: #ffbc00
    }

    /*Tilføje blok så teksten i Drink Factory-teksten står korrekt*/
    .story {
        display: block;
    }

    /*Tilføje blok så teksten i Drink Factory-teksten står korrekt*/
    .story p {
        text-align: left;
        padding-top: 0;
    }

    /*Tilføje blok så teksten i Om os og tips og triks-teksten står korrekt*/
    .omOs,
    .tips {
        display: block;

    }
}
