/** Fonte**/
h1,
h2 {
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffbc00
}

h3,
h4,
p {
    font-family: 'PT Sans Caption', sans-serif;
}


/**baggrundsfarve**/
body {
    background-color: #fcf5f2
}

/**centrere drinknavn**/
.navn {
    text-align: center;
}

/**filterknap design**/
button {
    border-radius: 25px;
    border: none;
    background-color: #baeadd;
    font-family: 'PT Sans Caption', sans-serif;
}

.gone {
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    display: inline-block;
    position: absolute;
    left: 90vw;
    top: 4vw;
}

#burger {
    list-style-type: none;
    font-family: 'Squada One', cursive;
}

a {
    color: #ffbc00;
}

/*footer*/

.footerFarve {
    background-color: /*rgba(186, 234, 221, 0.28);*/ rgba(255, 188, 0, 0.11);
    padding-bottom: 5px;
}

.footerContainer {
    display: grid;
    grid-gap: 5px;


}

.footerIndhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
    text-align: center;
    line-height: 1.5;


}

.indhold ul {
    list-style: none;

}

.indhold ul a {
    color: inherit;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;


}

.indhold ul a:hover {
    opacity: 0.8;
    color: #ffbc00
}

.copyright {
    text-align: center;
    opacity: 0.3;
    font-size: 13px;

}

@media (max-width: 800px) {

    .links {
        display: none;
    }

    nav {
        width: 100%;
        height: 10vh;
    }

    #burger {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 8vh;
        background-color: #FCF5F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 40px;
        line-height: 3;
    }


    .logo {
        width: 50%;
    }




}

@media (min-width: 1200px) {
    #menuknap {
        display: none;
    }


    .logo {
        width: 20%;
    }

<<<<<<< HEAD
    .links {
        font-family: 'Squada One', cursive;
        font-size: 30px;
        position: absolute;
        left: 70vw;
        top: 9vh;


    }

    .links a {
        color: #ffbc00;
        margin: 20px;
    }
=======


    /*footer*/
    .footerFarve {
        padding-top: 10vw;
    }

    .footerContainer {
        display: grid;
        height: 100vh;
        grid-gap: 5px;
        grid-template-rows: 20% auto 100px;


    }

    .footerIndhold {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 10px;
        padding-left: 20%;
        line-height: 1.5;
        text-align: left;
    }


}

.indhold ul {
    list-style: none;
    padding-left: 0;

}

.indhold ul a {
    color: inherit;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;

}

.indhold ul a:hover {
    opacity: 0.8;
    color: #ffbc00
}

.copyright {
    text-align: center;
    opacity: 0.3;
    font-size: 13px;

}




>>>>>>> footer
}
